/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}/*# sourceMappingURL=normalize.min.css.map */

/* Main */
html, body {
  height: 100%;
  background: #001625;
  font-family: sans-serif;
}
body {
  display: flex;
  align-items: center;
  background: url('./background.jpg');
  background-size: cover;
  font-weight: 300;
  letter-spacing: 0.1px;
}
a {
  color: #00a295;
}
.container {
  margin: 0 auto;
  padding: 0 0 40px;
  width: 540px;
  text-align: center;
  position: relative;
  color: #00a295;
}
.title {
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.2em;
  text-align: center;
  text-indent: 1.2em;
  margin-bottom: 1.5em;
  color: white;
}

#rip .field {
  display: none;
  margin: 0 auto;
  width: 75%;
}
#rip input[type="text"] {
  color: #3a4846;
  border: 1px solid #c1c1c1;
  border-right: 0 none;
  border-radius: 99em 0 0 99em;
  height: 45px;
  padding: 0 16px;
  outline: none;
  flex: 3;
  font-weight: 300;
}
#rip input[type="text"]::-webkit-input-placeholder { color: #ccc; }
#rip input[type="text"]::-moz-placeholder { color: #ccc; }
#rip input[type="text"]:-ms-input-placeholder { color: #ccc; }
#rip input[type="text"]:-moz-placeholder { color: #ccc; }

#rip button {
  height: 47px;
  letter-spacing: 2px;
  border: 1px solid #00d4b1;
  border-radius: 0 99em 99em 0;
  background: #00d4b1;
  color: white;
  line-height: 1;
  flex: 1;
  outline: none;
}
#rip button[disabled] {
  background: #c0efe7;
  border: 1px solid #c0efe7;
  color: #7dd8c8;
  text-shadow: 1px 1px white;
}

.status { display: none; }
.status code {
  word-wrap: break-word;
  background: black;
  display: block;
  padding: 10px;
  color: #7e97b1;
  border: 1px solid #792424;
  box-sizing: border-box;
}

#rip.rip--default .field { display: flex; }

/* Form Default State */
#rip.rip--default .status--default { display: block }

/* Form Loading State */
#rip.rip--loading .status--loading { display: block }

/* Form Success State */
#rip.rip--success .status--success { display: block }

/* Form Error State */
#rip.rip--error .status--error { display: block }

.icon-animated {
	width:71px;
	margin:auto;
  display: inline-block;
}

/* Animated Icon */
.ellipse {
	background-color:rgb(255,255,255);
	float:left;
	height:15px;
	margin-left:8px;
	width:15px;
	animation-name:bounce_ellipse;
		-o-animation-name:bounce_ellipse;
		-ms-animation-name:bounce_ellipse;
		-webkit-animation-name:bounce_ellipse;
		-moz-animation-name:bounce_ellipse;
	animation-duration:2.24s;
		-o-animation-duration:2.24s;
		-ms-animation-duration:2.24s;
		-webkit-animation-duration:2.24s;
		-moz-animation-duration:2.24s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:10px;
		-o-border-radius:10px;
		-ms-border-radius:10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
}

.ellipse--1{
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

.ellipse--2{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

.ellipse--3{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

@keyframes bounce_ellipse{
	0%{}
	50%{ background-color:rgb(0,121,130); }
	100%{}
}

@-o-keyframes bounce_ellipse{
	0%{}
	50%{ background-color:rgb(0,121,130); }
	100%{}
}

@-ms-keyframes bounce_ellipse{
	0%{}
	50%{ background-color:rgb(0,121,130); }
	100%{}
}

@-webkit-keyframes bounce_ellipse{
	0%{}
	50%{ background-color:rgb(0,121,130); }
	100%{}
}

@-moz-keyframes bounce_ellipse{
	0%{}
	50%{ background-color:rgb(0,121,130); }
	100%{}
}
